<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @mloan.Firstname %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @mloan.Middlename %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @mloan.Lastname %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @mloan.Dateofbirth %>
</p>

<p>
  <strong>Idno:</strong>
  <%= @mloan.IDno %>
</p>

<p>
  <strong>Pinno:</strong>
  <%= @mloan.Pinno %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @mloan.Designation %>
</p>

<p>
  <strong>Jobgroup:</strong>
  <%= @mloan.Jobgroup %>
</p>

<p>
  <strong>Ministry:</strong>
  <%= @mloan.ministry %>
</p>

<p>
  <strong>Department:</strong>
  <%= @mloan.department %>
</p>

<p>
  <strong>Station:</strong>
  <%= @mloan.station %>
</p>

<p>
  <strong>Address:</strong>
  <%= @mloan.Address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @mloan.Telephone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @mloan.Mobile %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @mloan.E-mail %>
</p>

<p>
  <strong>Maritalstatus:</strong>
  <%= @mloan.Maritalstatus %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @mloan.Amount %>
</p>

<%= link_to 'Edit', edit_mloan_path(@mloan) %> |
<%= link_to 'Back', mloans_path %>
