<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @morgage.Firstname %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @morgage.Middlename %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @morgage.Lastname %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @morgage.Dateofbirth %>
</p>

<p>
  <strong>Idno:</strong>
  <%= @morgage.IDno %>
</p>

<p>
  <strong>Pinno:</strong>
  <%= @morgage.Pinno %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @morgage.Designation %>
</p>

<p>
  <strong>Jobgroup:</strong>
  <%= @morgage.Jobgroup %>
</p>

<p>
  <strong>Ministry:</strong>
  <%= @morgage.ministry %>
</p>

<p>
  <strong>Department:</strong>
  <%= @morgage.department %>
</p>

<p>
  <strong>Station:</strong>
  <%= @morgage.station %>
</p>

<p>
  <strong>Address:</strong>
  <%= @morgage.Address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @morgage.Telephone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @morgage.Mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @morgage.Email %>
</p>

<p>
  <strong>Maritalstatus:</strong>
  <%= @morgage.Maritalstatus %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @morgage.Amount %>
</p>

<%= link_to 'Edit', edit_morgage_path(@morgage) %> |
<%= link_to 'Back', morgages_path %>
