<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @mgloan.Firstname %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @mgloan.Middlename %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @mgloan.Lastname %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @mgloan.Dateofbirth %>
</p>

<p>
  <strong>Idno:</strong>
  <%= @mgloan.IDno %>
</p>

<p>
  <strong>Pinno:</strong>
  <%= @mgloan.Pinno %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @mgloan.Designation %>
</p>

<p>
  <strong>Jobgroup:</strong>
  <%= @mgloan.Jobgroup %>
</p>

<p>
  <strong>Ministry:</strong>
  <%= @mgloan.ministry %>
</p>

<p>
  <strong>Department:</strong>
  <%= @mgloan.department %>
</p>

<p>
  <strong>Station:</strong>
  <%= @mgloan.station %>
</p>

<p>
  <strong>Address:</strong>
  <%= @mgloan.Address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @mgloan.Telephone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @mgloan.Mobile %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @mgloan.E-mail %>
</p>

<p>
  <strong>Maritalstatus:</strong>
  <%= @mgloan.Maritalstatus %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @mgloan.Amount %>
</p>

<%= link_to 'Edit', edit_mgloan_path(@mgloan) %> |
<%= link_to 'Back', mgloans_path %>
