<div class="container printable">
  <div class="invoice_template">
    <div class="new-invoice-holder invoice-position">

      <div class="item-container">
        <div class="row item-row">
          
          <div class="field-block col s12">
            <label for="desc"><%= t('views.glentries.description') %>:</label>
            <span><%= @glentry.glentry_description %></span>
          </div>
          <div class="field-block col s6">
            <label for="defaultcost"><%= t('views.invoice_line_item.unit_cost') %>:</label>
            <span><%= @item.unit_cost %></span>
          </div>
          <div class="field-block col s6">
            <label for="defaultqty"><%= t('views.items.quantity') %>:</label>
            <span><%= @item.quantity %></span>
          </div>

            <div class="field-block col s6">
            <label for="Unit of Measure"><%= t('views.items.unitofmeasure') %>:</label>
            <span><%= @item.unitofmeasure %></span>
          </div>



          <div class="field-block col s6">
            <label for="MRP"><%= t('views.items.MRP') %>:</label>
            <span><%= @item.MRP %></span>
          </div>

         <div class="field-block col s6">
            <label for="Reorder Level"><%= t('views.items.reorderlevel') %>:</label>
            <span><%= @item.reorderlevel %></span>
          </div>

        <div class="field-block col s6">
            <label for="Barcode"><%= t('views.items.barcode') %>:</label>
            <span><%= @item.barcode %></span>
          </div>

       <div class="field-block col s6">
            <label for="Sales Price"><%= t('views.items.salesprice') %>:</label>
            <span><%= @item.salesprice %></span>
          </div>

       <div class="field-block col s6">
            <label for="Inventory Group"><%= t('views.items.inventorygroup') %>:</label>
            <span><%= @item.inventorygroup %></span>
          </div>

        <div class="field-block col s6">
            <label for="Product Category><%= t('views.items.productcategory') %>:</label>
            <span><%= @item.productcategory %></span>
          </div>












          <% if @item.tax_1.present? %>
            <div class="field-block col s6">
              <label for="tax1"><%= t('views.items.tax') %> 1:</label>
              <span><%= @item.tax1_name %></span>
            </div>
          <% end %>
          <% if @item.tax_2.present? %>
            <div class="field-block col s6">
              <label for="tax2"><%= t('views.items.tax') %> 2:</label>
              <span><%= @item.tax2_name %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
