<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @loan.Firstname %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @loan.Middlename %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @loan.Lastname %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @loan.Dateofbirth %>
</p>

<p>
  <strong>Idno:</strong>
  <%= @loan.IDno %>
</p>

<p>
  <strong>Pinno:</strong>
  <%= @loan.Pinno %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @loan.Designation %>
</p>

<p>
  <strong>Jobgroup:</strong>
  <%= @loan.Jobgroup %>
</p>

<p>
  <strong>Ministry:</strong>
  <%= @loan.ministry %>
</p>

<p>
  <strong>Department:</strong>
  <%= @loan.department %>
</p>

<p>
  <strong>Station:</strong>
  <%= @loan.station %>
</p>

<p>
  <strong>Address:</strong>
  <%= @loan.Address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @loan.Telephone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @loan.Mobile %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @loan.E-mail %>
</p>

<p>
  <strong>Maritalstatus:</strong>
  <%= @loan.Maritalstatus %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @loan.Amount %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
